@font-face {
  font-family: 'Grotesque Pro';
  src: url(../../css/fonts/BasisGrotesquePro-Regular.ttf); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.25%;
  box-sizing: border-box; }

body {
  font-family: 'Grotesque Pro', sans-serif;
  line-height: 1.6;
  min-height: 100vh; }

.heading__home {
  text-transform: capitalize;
  font-size: 6rem;
  font-weight: 900;
  color: #36558B;
  display: block; }

.heading__about {
  font-size: 5rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #000000;
  display: block; }

.paragraph__home {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 400;
  color: #36558B; }

.paragraph__featured {
  display: block;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 600;
  color: #9E9E9E; }

.paragraph__about {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  display: block; }
  .paragraph__about--features {
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
    display: block;
    text-align: left; }

.about {
  display: flex;
  align-items: center;
  background: transparent linear-gradient(180deg, #FFF4BF 0%, #FFFFFF 100%) no-repeat;
  background-size: 122rem 45rem; }
  .about__text-content {
    flex: 0 0 50%;
    padding-left: 4rem;
    position: relative;
    bottom: 60rem;
    margin-bottom: -60rem; }
  .about__features {
    display: flex;
    align-items: center; }
    .about__features--experience {
      margin-left: 2.5rem; }
    .about__features--energy {
      margin-left: 2.5rem; }
    .about__features--icon {
      height: 5rem;
      width: 5rem;
      text-align: center; }
  .about__image-content {
    margin: 0; }
  .about__image {
    height: 50rem;
    position: relative; }
    .about__image--1 {
      bottom: 18rem;
      right: 4rem;
      margin-bottom: -18rem; }
    .about__image--2 {
      bottom: 28rem;
      left: 16rem;
      margin-left: -1rem; }
    .about__image--3 {
      bottom: 79rem;
      margin-bottom: -68rem; }

.btn,
.btn:link,
.btn:visited {
  background-color: #A9FEA3;
  color: #277A21;
  border: transparent;
  border-radius: .3rem;
  transition: all 1s ease-in-out;
  display: block;
  font-size: 1.6rem; }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.btn__home {
  width: 16rem;
  height: 4.5rem;
  padding: 10px 16px;
  text-decoration: none;
  margin-top: 3rem; }

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .home__story {
    position: relative;
    bottom: 4rem; }
  .home__image-content {
    margin-top: 8rem; }
  .home__image {
    width: 95%;
    margin-right: 3rem; }

.featured__image-content {
  display: flex; }

.featured__image {
  margin: 1rem 2rem;
  width: 10rem;
  height: min-content; }

.header {
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 1.5rem;
    left: 5%; }
  .header__logo {
    height: 3rem;
    width: 4rem; }

.section-home {
  background: transparent url("../../imgs/BG.png") no-repeat;
  background-size: contain;
  margin: 2rem 2rem; }

.section-about {
  margin-top: 25rem;
  overflow-x: visible;
  padding-right: 18rem; }
