@font-face {
    font-family: 'Grotesque Pro';
    src: url(../../css/fonts/BasisGrotesquePro-Regular.ttf);
}

$color-primary: #36558B;
$color-secondary: #277A21;
$color-tertiary: #A9FEA3;
$color-grey: #9E9E9E;
$color-grey-2: #E6E6E6;
$color-black: #000000;
$color-purple: #938FFF;
$color-white: #ffffff;
$color-light: #E9FEFF;
$color-light-2: #AFECFF;
$color-light-green: #CBFFD9;
$color-light-green-2: #CCFFAF;
$color-light-green-3: #AFFFBF;
$color-green: #6AE95B;
$color-light-pink: #FFB9E1;
$color-pink: #9D4C9F;