.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15rem;
    padding-bottom: 5rem;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: 0 2rem;
        align-items: normal;
    }
    &__list {
        list-style: none;
        font-size: 1.3rem;
        font-weight: 400;
        color: $color-black;
        @media screen and (max-width: 600px) {
            &:last-child {
                margin-bottom: 3.5rem;
            }
        }
        &:first-child {
            font-weight: 800;
            margin-bottom: .5rem;
        }
    }
}