.about {
    display: flex;
    align-items: center;
    background: transparent linear-gradient(180deg, #FFF4BF 0%, #FFFFFF 100%) no-repeat;
    background-size: 122rem 45rem;
    &__text-content {
        flex: 0 0 50%;
        padding-left: 10rem;
        position: relative;
        bottom: 54rem;
        margin-bottom: -60rem;
    }
    &__features {
        display: flex;
        align-items: center;
        margin-top: 10rem;
        &--time {
            flex: 0 0 44%;
        }
        &--experience {
            flex: 0 0 45%;
            margin-left: 2rem;
        }
        &--energy {
            flex: 0 0 45%;
            margin-left: 2rem;
        }
        &--icon {
            height: 6.5rem;
            width: 6.5rem;
            text-align: center;
        }
    }
    &__image-content {
        margin: 0;
    }
    &__image {
        height: 50rem;
        position: relative;
        &--1 {
            bottom: 18rem;
            right: 4rem;
            margin-bottom: -18rem;
        }
        &--2 {
            bottom: 28rem;
            left: 21rem;
            // margin-left: -1rem;
        }
        &--3 {
            bottom: 79rem;
            left: 11rem;
            margin-bottom: -68rem;
        }
    }
}