.about {
    display: flex;
    align-items: center;
    background: transparent linear-gradient(180deg, #FFF4BF 0%, #FFFFFF 100%) no-repeat;
    background-size: 122rem 45rem;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        background-size: cover;
    }
    &__text-content {
        flex: 0 0 50%;
        padding-left: 10rem;
        position: relative;
        bottom: 54rem;
        margin-bottom: -60rem;
        @media screen and (max-width: 900px) {
            padding: 5rem;
        }
        @media screen and (max-width: 600px) {
            flex: 0 0 0;
            padding-left: 1.25rem;
        }
        @media screen and (max-width: 376px) {
            padding-left: 4.25rem;
        }
    }
    &__features {
        display: flex;
        align-items: center;
        margin-top: 10rem;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            position: relative;
            padding: 0 4rem;
        }
        // &:nth-child(1) and &:nth-child(2) and &:nth-child(3) {
        //     position: relative;
        // }
        &--time {
            flex: 0 0 44%;
            @media screen and (max-width: 600px) {
                position: relative;
                top: 31rem;
            }
            @media screen and (max-width: 376px) {
                top: 36.5rem;
            }
        }
        &--experience {
            flex: 0 0 45%;
            margin-left: 2rem;
            @media screen and (max-width: 600px) {
                position: relative;
                margin-left: 0;
                top: 95rem;
            }
        }
        &--energy {
            flex: 0 0 45%;
            margin-left: 2rem;
            @media screen and (max-width: 600px) {
                position: relative;
                margin-left: 0;
                top: 62rem;
            }
            @media screen and (max-width: 376px) {
                top: 62.5rem;
            }
        }
        &--icon {
            height: 6.5rem;
            width: 6.5rem;
            text-align: center;
            @media screen and (max-width: 600px) {
                height: 4.5rem;
                width: 4.5rem;
            }
        }
    }
    &__image-content {
        margin: 0;
        overflow: inherit;
        contain: layout;
    }
    &__image {
        height: 50rem;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 900px) {
            height: 40rem;
        }
        @media screen and (max-width: 600px) {
            height: 38.5rem;
        }
        &--1 {
            bottom: 18rem;
            right: 3.5rem;
            margin-bottom: -18rem;
            @media screen and (max-width: 600px) {
                bottom: 38rem;
                right: -1.5rem;
            }
        }
        &--2 {
            bottom: 30rem;
            left: 20rem;
            @media screen and (max-width: 900px) {
                left: 10rem;
            }
            @media screen and (max-width: 600px) {
                left: 0;
                bottom: 18rem;
            }
        }
        &--3 {
            bottom: 79rem;
            left: 11rem;
            margin-bottom: -68rem;
            @media screen and (max-width: 900px) {
                left: 6rem;
            }
            @media screen and (max-width: 600px) {
                left: 0;
                bottom: 40rem;
            }
        }
    }
    &__card {
        height: 8rem;
        width: 30rem;
        padding: 2rem 2rem;
        border: 1px solid transparent;
        border-radius: 1rem;
        display: flex;
        box-shadow: 0 0 .8rem rgba($color-black, .2);
        font-size: 1.2rem;
        font-weight: 400;
        color: $color-black;
        z-index: 3;
        position: absolute;
        &--1 {
            background-color: $color-light-green;
            bottom: 79rem;
            left: -5rem;
            @media screen and (max-width: 900px) {
                bottom: 72rem;
            }
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        &--2 {
            background-color: $color-light-pink;
            bottom: 32rem;
            left: 46rem;
            @media screen and (max-width: 900px) {
                bottom: 18rem;
                left: 7rem;
            }
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        &-icon {
            height: 3rem;
            width: 3rem;
            border: 1px solid transparent;
            border-radius: 50%;
            margin: .5rem 1.5rem;
            padding: .3rem .5rem;
            &-img {
                color: $color-white;
                font-size: 2rem;
            }
            &--1 {
                background-color: $color-green;
            }
            &--2 {
                background-color: $color-pink;
            }
        }
    }
    &__misc-img {
        z-index: 0;
        position: absolute;
        bottom: 70.7rem;
        height: 30rem;
        left: 40%;
        @media screen and (max-width: 900px) {
            bottom: 30rem;
        }
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
}