.btn,
.btn:link,
.btn:visited {
    background-color: $color-tertiary;
    color: $color-secondary;
    border: transparent;
    border-radius: .3rem;
    transition: all 500ms ease-in-out;
    display: block;
    font-size: 1.6rem;
    &:hover {
        width: 17rem;
    }
}

.btn__home {
    width: 16rem;
    height: 4.5rem;
    padding: 6px 16px;
    text-decoration: none;
    margin-top: 3rem;
}

.btn__icon {
    font-size: 2rem;
    margin-top: .5rem;
    margin-left: 1rem;
    &:hover {
        margin-left: 2rem;
    }
}