.btn,
.btn:link,
.btn:visited{
    background-color: $color-tertiary;
    color: $color-secondary;
    border: transparent;
    border-radius: .3rem;
    transition: all 1s ease-in-out;
    display: block;
    font-size: 1.6rem;

    &:hover{
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }  
}
.btn__home{
    width: 16rem;
    height: 4.5rem;
    padding: 10px 16px;
    text-decoration: none;
    margin-top: 3rem;
}
