.home {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    &__story {
        position: relative;
        bottom: 4rem;
        margin-left: 5rem;
        @media screen and (max-width: 600px) {
            top: 5.5rem;
            margin-left: 0;
        }
    }
    &__image-content {
        margin-top: 8rem;
    }
    &__image {
        width: 100%;
        margin-left: 5rem;
        z-index: 2;
        position: relative;
        @media screen and (max-width: 600px) {
            width: 130%;
            right: 5.4rem;
            margin-left: 0;
        }
    }
    &__chat-pop {
        display: block;
        position: absolute;
        height: 18rem;
        z-index: 2;
        &--1 {
            top: 50rem;
            left: 60rem;
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        &--2 {
            bottom: 20rem;
            left: 72%;
            @media screen and (max-width: 900px) {
                bottom: 111rem;
                left: 64%;
            }
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    }
    &__misc-img {
        z-index: 1;
        position: absolute;
        bottom: 4rem;
        height: 32rem;
        left: 63%;
        @media screen and (max-width: 900px) {
            z-index: -1;
            bottom: 110rem;
            left: 53%;
        }
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
}

.featured {
    &__image-content {
        display: flex;
    }
    &__image {
        margin: 1rem 1rem;
        width: 10rem;
        height: min-content;
        &:nth-child(1) {
            margin-top: 2rem;
        }
    }
}