.steps {
    display: flex;
    align-items: center;
    background: transparent linear-gradient(180deg, #F2FFFD 0%, #FFFFFF 100%) no-repeat;
    background-size: 120rem 60rem;
    @media screen and (max-width: 600px) {
        background-size: cover;
        flex-direction: column;
    }
    &__image-content {
        flex: 0 0 50%;
    }
    &__image {
        width: 55%;
        position: relative;
        bottom: 12rem;
        margin-bottom: -9rem;
        @media screen and (max-width: 600px) {
            margin-bottom: 0;
            margin-top: 3rem;
            left: 10rem;
        }
    }
    &__list {
        list-style: none;
        font-size: 1.5rem;
        font-weight: 400;
        color: $color-black;
        @media screen and (max-width: 600px) {
            padding: 0 1.3rem;
        }
    }
    &__numbers {
        border-radius: 50%;
        background-color: $color-purple;
        color: $color-white;
        display: inline-block;
        font-size: 1.5rem;
        padding: .8rem 1.5rem;
        margin: 1rem 2rem;
    }
    &__profile-card {
        height: 44rem;
        width: 40rem;
        padding: 1rem 2rem;
        background-color: $color-white;
        color: $color-black;
        border: 1px solid transparent;
        border-radius: .1rem;
        position: relative;
        bottom: 12rem;
        left: 12rem;
        display: inline-block;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        @media screen and (max-width: 600px) {
            left: 3rem;
            bottom: 16rem;
        }
    }
    &__profile-wrap {
        filter: drop-shadow(0 0 1.3rem rgba($color-black, .2));
    }
    &__text-content {
        position: relative;
        bottom: 27rem;
        @media screen and (max-width: 600px) {
            bottom: 12rem;
        }
    }
    &__misc-image {
        position: relative;
        z-index: -1;
        bottom: 18rem;
        height: 21rem;
        right: 35.8rem;
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    &__check-mark {
        background-color: #61FFA5;
        position: relative;
        display: inline-block;
        right: 5%;
        bottom: 10rem;
        border: 1px solid transparent;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        z-index: 1;
        padding: 0.9rem 1rem;
        @media screen and (max-width: 600px) {
            left: 31%;
            bottom: 13rem;
        }
        &-icon {
            font-size: 3rem;
            color: $color-white;
            text-align: center;
        }
    }
}

.profile {
    &__header {
        display: flex;
    }
    &__name {
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-primary;
        display: block;
    }
    &__picture {
        margin: 1rem 2rem;
    }
    &__details {
        margin-top: 1rem;
    }
    &__work {
        font-size: 1.4rem;
        font-weight: 400;
        color: $color-primary;
        display: block;
    }
    &__title {
        font-size: 1.2rem;
        font-weight: 400;
        color: $color-black;
        margin-left: 2rem;
        &::after {
            content: '';
            border-bottom: 1px solid $color-grey-2;
            display: inline-block;
            width: 22rem;
        }
    }
    &__items {
        padding: 0 3rem;
    }
    &__list {
        font-size: 1.2rem;
        font-weight: 400;
        color: $color-grey;
        margin: 1rem 0;
    }
    &__percentage {
        display: flex;
    }
    &__percentage-number {
        font-size: 3rem;
        font-weight: 900;
        color: $color-primary;
        margin: 0 2rem;
        flex: 0 0 30%;
    }
    &__percentage-text {
        font-size: 1rem;
        font-weight: 400;
        color: $color-primary;
        display: block;
        margin-top: -1.5rem;
    }
    &__percentage-count {
        margin-top: -1rem;
    }
    &__percentage-count-1 {
        @include percentage;
        background-color: $color-light-2;
        width: 30rem;
    }
    &__percentage-count-2 {
        @include percentage;
        background-color: $color-light-green-2;
        width: 13rem;
    }
    &__percentage-count-3 {
        @include percentage;
        background-color: $color-light-green-3;
        width: 18rem;
    }
}