.heading {
    &__home {
        text-transform: capitalize;
        font-size: 6rem;
        font-weight: 900;
        color: $color-primary;
        display: block;
    }
    &__about {
        font-size: 5rem;
        font-weight: bolder;
        text-transform: capitalize;
        color: $color-black;
        display: block;
        padding: 10px 9rem;
        margin-left: -10rem;
        margin-bottom: 3rem;
    }
    &__steps {
        font-size: 5rem;
        font-weight: bolder;
        text-transform: capitalize;
        color: $color-black;
        display: block;
    }
}

.paragraph {
    &__home {
        text-transform: capitalize;
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-primary;
    }
    &__featured {
        display: block;
        text-transform: capitalize;
        font-size: 1.8rem;
        font-weight: 600;
        color: $color-grey;
    }
    &__about {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-black;
        display: block;
        &--features {
            font-size: 1.3rem;
            font-weight: 400;
            color: $color-black;
            display: block;
            text-align: left;
        }
    }
    &__steps {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-black;
        display: block;
    }
}