.heading {
    &__home {
        text-transform: capitalize;
        font-size: 6rem;
        font-weight: 900;
        color: $color-primary;
        display: block;
        @media screen and (max-width: 600px) {
            font-size: 4.5rem;
        }
    }
    &__about {
        font-size: 5rem;
        font-weight: 900;
        text-transform: capitalize;
        color: $color-black;
        display: block;
        padding: 10px 9rem;
        margin-left: -10rem;
        margin-bottom: 3rem;
        @media screen and (max-width: 600px) {
            font-size: 4rem;
            padding: 0 9.2rem;
        }
    }
    &__steps {
        font-size: 5rem;
        font-weight: bolder;
        text-transform: capitalize;
        color: $color-black;
        padding: 0 3rem;
    }
    &__faq {
        font-size: 5rem;
        font-weight: bolder;
        text-transform: uppercase;
        color: $color-black;
        display: block;
    }
    &__testimonial {
        font-size: 5rem;
        font-weight: bolder;
        text-transform: uppercase;
        color: $color-black;
        display: block;
    }
}

.paragraph {
    &__home {
        text-transform: capitalize;
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-primary;
    }
    &__featured {
        display: block;
        text-transform: capitalize;
        font-size: 1.8rem;
        font-weight: 600;
        color: $color-grey;
    }
    &__about {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-black;
        display: block;
        &--features {
            font-size: 1.3rem;
            font-weight: 400;
            color: $color-black;
            display: block;
            text-align: left;
        }
    }
    &__steps {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-black;
        padding: 1.7rem 3rem;
    }
    &__faq {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-black;
        display: block;
    }
    &__testimonial {
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-black;
        display: block;
    }
    &__user-name {
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-black;
        display: block;
    }
}