.section-home {
    background: transparent url('../../imgs/BG.png')no-repeat;
    background-size: contain;
    margin: 2rem 2rem;
}

.section-about {
    margin-top: 25rem;
    overflow-x: visible;
    padding-right: 18rem;
}