.section-home {
    background: transparent url('../../imgs/BG.png')no-repeat;
    background-size: 95rem 57rem;
    margin: 0 3rem;
    z-index: .5;
    @media screen and (max-width: 900px) {
        background-size: 77rem 57rem;
    }
    @media screen and (max-width: 600px) {
        background-size: cover;
    }
}

.section-about {
    margin-top: 25rem;
    overflow-x: visible;
    padding-right: 18rem;
    @media screen and (max-width: 900px) {
        padding: 5rem 0;
    }
    @media screen and (max-width: 600px) {
        margin-top: 0rem;
        padding: 50rem 0;
    }
}

.section-steps {
    padding: 0 10rem;
    @media screen and (max-width: 900px) {
        padding: 0 0;
    }
    // @media screen and (max-width: 600px) {
    //     padding: 0 0;
    // }
}

.section-faq {
    background: transparent url('../../imgs/Path 14.png') no-repeat;
    background-size: 60rem 55rem;
    @media screen and (max-width: 600px) {
        background-size: cover;
    }
    &__title {
        margin-left: 15rem;
        @media screen and (max-width: 900px) {
            margin-left: 6rem;
        }
        @media screen and (max-width: 600px) {
            margin-left: 0;
        }
        @media screen and (max-width: 600px) {
            margin-left: 1.1rem;
        }
    }
}

.section-testimony {
    background: transparent url("../../imgs/Path 13.png")no-repeat;
    background-size: contain;
    margin: 6rem 0;
    @media screen and (max-width: 376px) {
        padding: 0 1.1rem;
    }
}